<% extend('layout') %>
<h2>Home</h2>
<%let Username = null%> <%if (Username === null){%>
<div>
  <a href="<%=routes.login%>">로그인</a>
  <a href="<%=routes.join%>">회원가입</a>
</div>
<%}else{%>
<div>
  <p><%=Username%>님, 안녕하세요?</p>
  <a href="<%=routes.login%>">마이페이지</a>
  <a href="<%=routes.join%>">로그아웃</a>
</div>
<%}%>
