<% extend('layout') %>
<h2>Home</h2>
<%if (!user){%>
<div>
  <a href="<%=routes.login%>">로그인</a>
  <a href="<%=routes.join%>">회원가입</a>
</div>
<%}else{%>
<div>
  <p><%=user%>님, 안녕하세요?</p>
  <a href="<%=routes.mypage%>">마이페이지</a>
  <a href="<%=routes.logout%>">로그아웃</a>
</div>
<%}%>
